<p id="notice"><%= notice %></p>

<p>
  <strong>Accelx:</strong>
  <%= @accel.accelx %>
</p>

<p>
  <strong>Accely:</strong>
  <%= @accel.accely %>
</p>

<p>
  <strong>Accelz:</strong>
  <%= @accel.accelz %>
</p>

<p>
  <strong>Rota:</strong>
  <%= @accel.rota %>
</p>

<p>
  <strong>Rotb:</strong>
  <%= @accel.rotb %>
</p>

<p>
  <strong>Rotg:</strong>
  <%= @accel.rotg %>
</p>

<%= link_to 'Edit', edit_accel_path(@accel) %> |
<%= link_to 'Back', accels_path %>
