<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @patient.uid %>
</p>

<p>
  <strong>Active:</strong>
  <%= @patient.active %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
