<td><%= accelx %></td>
<td><%= accely %></td>
<td><%= accelz %></td>
<td><%= rota %></td>
<td><%= rotb %></td>
<td><%= rotg %></td>

<td><a href="#/<%= id %>">Show</a></td>
<td><a href="#/<%= id %>/edit">Edit</a></td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>
