<h1>Edit accel</h1>

<form id="edit-accel" name="accel">
  <div class="field">
    <label for="accelx"> accelx:</label>
    <input type="text" name="accelx" id="accelx" value="<%= accelx %>" >
  </div>

  <div class="field">
    <label for="accely"> accely:</label>
    <input type="text" name="accely" id="accely" value="<%= accely %>" >
  </div>

  <div class="field">
    <label for="accelz"> accelz:</label>
    <input type="text" name="accelz" id="accelz" value="<%= accelz %>" >
  </div>

  <div class="field">
    <label for="rota"> rota:</label>
    <input type="text" name="rota" id="rota" value="<%= rota %>" >
  </div>

  <div class="field">
    <label for="rotb"> rotb:</label>
    <input type="text" name="rotb" id="rotb" value="<%= rotb %>" >
  </div>

  <div class="field">
    <label for="rotg"> rotg:</label>
    <input type="text" name="rotg" id="rotg" value="<%= rotg %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Accel" />
  </div>

</form>

<a href="#/index">Back</a>
