<p>
  <b>Accelx:</b>
  <%= accelx %>
</p>

<p>
  <b>Accely:</b>
  <%= accely %>
</p>

<p>
  <b>Accelz:</b>
  <%= accelz %>
</p>

<p>
  <b>Rota:</b>
  <%= rota %>
</p>

<p>
  <b>Rotb:</b>
  <%= rotb %>
</p>

<p>
  <b>Rotg:</b>
  <%= rotg %>
</p>


<a href="#/index">Back</a>